# See http://help.github.com/ignore-files/ for more about ignoring files.

# Dependencias
/node_modules
npm-debug.log
yarn-error.log

# Compilados
/dist
/tmp
/out-tsc
/bazel-out

# Node
/.pnp
.pnp.js

# IDEs y editores
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscelaneos
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno / secretos locales
.env
.env.local
